<p>
  bill-view works!
</p>

  <div *ngIf="bills !== undefined" class="Array">
    <div class="Row" *ngFor="let bill of bills">
      Facture de {{bill.customer.firstName}} {{bill.customer.lastName}} {{bill.cost}}
    </div>
  
  </div>
  
  <div>
    <button mat-raised-button (click)="openDialog()" class="save-Bill-Button">Enregistrer</button>
      <!-- <app-customer-editor></app-customer-editor>
      
        deux onglet facture/devis

      En bas bouton save 
      si facture/devis existante dabord bouton editer la facture/devis


      dans le menu en haut faire un bouton historiaue
      -->
  </div>