
$menubar-size: 50px;
$sidenav-size: 250px;
$font-stack: Helvetica, sans-serif;

.menubar {
  position: absolute;
  top: 0;
  width: 100%;
  height: $menubar-size;
  z-index: 1;
}

.sidenav-container {
    position: absolute;
    top: $menubar-size;
    bottom:0;
    right:0;
    left: 0;
    background: #eee;
    z-index: 1;
    mat-sidenav-content {

      mat-tab-group {
        height:100%;
       /* mat-tab{
          width: 50%;
        }*/
      }
    }

  }

  .left-sidenav {
    position: absolute;
    width: $sidenav-size;
  }


  .right-sidenav {
    position: absolute;
    width: $sidenav-size;
  }

  .bottomRightButton {
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 5;
  }

