<!--The content below is only a placeholder and can be replaced.-->

<div>
  <mat-toolbar class="menubar">Mécanique Privée
      <button mat-button (click)="changeCurrentView('app-customer-view')" [matMenuTriggerFor]="menuClients">Clients</button>
      <mat-menu #menuClients="matMenu">
        <button mat-menu-item>Nouveau</button>
        <button mat-menu-item>lalala</button>
      </mat-menu>
      <button mat-button (click)="changeCurrentView('app-product-view')" [matMenuTriggerFor]="menuProduits">Produits</button>
      <mat-menu #menuProduits="matMenu">
        <button mat-menu-item>Nouveau</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button (click)="changeCurrentView('app-bill-view')" [matMenuTriggerFor]="menuFactures">Facture</button>
      <mat-menu #menuFactures="matMenu">
        <button mat-menu-item>Nouveau</button>
        <button mat-menu-item>lalala</button>
      </mat-menu>
      <button mat-button (click)="changeCurrentView('app-estimate-view')" [matMenuTriggerFor]="menuEstimates">Devis</button>
      <mat-menu #menuEstimates="matMenu">
        <button mat-menu-item>Nouveau</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav" >
    <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>Main content
        <app-bill-view #billView  *ngIf="isCurrentView(BILL_VIEW)"></app-bill-view>
        <!-- billView.name -->
        <app-customer-view #customerView *ngIf="isCurrentView(CUSTOMER_VIEW)"></app-customer-view>
        <app-estimate-view #estimateView *ngIf="isCurrentView(ESTIMATE_VIEW)"></app-estimate-view>
        <app-product-view #productView *ngIf="isCurrentView(PRODUCT_VIEW)"></app-product-view>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

<button mat-raised-button class="bottomRightButton">Nouvelle facture</button>

<router-outlet></router-outlet>
