<!--The content below is only a placeholder and can be replaced.-->

<div>

  <mat-toolbar class="menubar">Mécanique Privée
      <button (click)="changeCurrentView('app-customer-view')">Clients</button>
      <button mat-button (click)="changeCurrentView('app-product-view')" [matMenuTriggerFor]="menuProduits">Historique</button>
      <mat-menu #menuProduits="matMenu">
        <button mat-menu-item>Nouveau</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button (click)="changeCurrentView('app-bill-view')" [matMenuTriggerFor]="menuFactures">Facture</button>
      <mat-menu #menuFactures="matMenu">
        <button mat-menu-item>Nouveau</button>
        <button mat-menu-item>lalala</button>
      </mat-menu>
      <button mat-button (click)="changeCurrentView('app-estimate-view')" [matMenuTriggerFor]="menuEstimates">Devis</button>
      <mat-menu #menuEstimates="matMenu">
        <button mat-menu-item>Nouveau</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"  >

    <mat-sidenav mode="side" class="left-sidenav" opened> 
        <app-customer-view #customerView ><!-- *ngIf="isCurrentView(CUSTOMER_VIEW)" --></app-customer-view>
    </mat-sidenav>

    <mat-sidenav mode="side" class="right-sidenav" position="end" opened>
        <app-product-view #productView ><!-- *ngIf="isCurrentView(PRODUCT_VIEW)" --></app-product-view>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-tab-group mat-align-tabs="center">

               
            <mat-tab label="Facture">
              <div 
              cdkDropList
              #billMakerList="cdkDropList"
              [cdkDropListData]="billMaker"
              
              class="customer-list"
              (cdkDropListDropped)="drop($event)">
                <div class="customer-row" *ngFor="let test of billMaker" cdkDrag > 
                  {{test.firstName}} {{test.lastName}}
                  </div>
              </div>
               <!--  </div>
                [cdkDropListConnectedTo]="[customerViewComponent.customerListData.data]"
                <app-bill-view #billView></app-bill-view>cdkDrag [cdkDropListConnectedTo]="[allDropLists]"-->
            </mat-tab>
            <mat-tab label="Devis">
                <app-estimate-view #estimateView></app-estimate-view>
            </mat-tab>
          </mat-tab-group>
    </mat-sidenav-content>

  </mat-sidenav-container>


</div>

<button mat-raised-button (click)="changeCurrentView('app-bill-view')" class="bottomRightButton">Nouvelle facture</button>

<router-outlet></router-outlet>
