<div class="sidenav-title">
  Liste clients
</div>
<div *ngIf="customers !== undefined" class="Array">
  
  <div
  cdkDropList
  #customerList="cdkDropList"
  [cdkDropListData]="customers"
  
  class="customer-list"
  (cdkDropListDropped)="drop($event)"
  > <!-- [cdkDropListConnectedTo]="[billMaker]" -->
    <div class="customer-row" *ngFor="let customer of customers" cdkDrag>
      {{customer.firstName}} {{customer.lastName}}
    </div>
  </div>
</div>

<div>
  <button mat-raised-button (click)="openDialog()" class="New-Customer-Button">Nouveau client</button>
    <!-- <app-customer-editor></app-customer-editor> -->
</div>