<p>
  product-view works!
</p>

<div *ngIf="products !== undefined" class="Array">

  <div
    cdkDropList
    #productListData="cdkDropList"
    [cdkDropListData]="products"
    class="product-list">
    <div class="product-row" *ngFor="let product of products" cdkDrag>
      {{product._cost}} {{product._name}} {{product._type}}
    </div>
  </div>
</div>

<div>
  <button mat-raised-button (click)="openDialog()" class="New-Product-Button">Nouveau produit</button>
    <!-- <app-customer-editor></app-customer-editor> -->
</div>